<!-- templates/fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Đây là fragment 'header' -->
<div th:fragment="clientFooter">
    <div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5 justify-content-center">

            <div class="col-lg-10">
                <div class="row">

                    <div class="col-md-6 mb-5">
                        <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Liên hệ</h5>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>Hoàng diệu 2.tp.Thủ Đức</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>0936******</p>
                        <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>

                    <div class="col-md-6 mb-5">
                        <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Khóa học của chúng tôi</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Toán </a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Ngữ Văn</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Vật Lý</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Sinh Học</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Môn Hóa</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Tiếng Anh</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Địa Lý</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>